
body{
    padding:0;
    margin:0;
    background-color: #ffffff;
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    outline: none;
    border: none;
    overflow: hidden;
    letter-spacing: 0.5px;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #ff512f,
        #f09819
    );
    left: -120px;
    top: -40px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -90px;
    bottom: -80px;
}
a:link, a:visited {
    background-color: transparent;
    letter-spacing: 0.5px;
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    padding-top: 70px;
    text-align: center;
    color: #ffffff;
    outline: none;
    border: none;
    text-decoration: none;
  
}

a:hover, a:active {

    text-decoration: none;
    color:#072895fc;
    text-align: center;
    letter-spacing: 0.5px;
    font-size: 32px;
    font-weight:bolder;
    line-height: 42px;
 
 }

.main-card{

    display: flex;
    flex-direction: column;
    padding: 50px;
    margin: 20px;
    padding-top: 10px;
    padding-left: 200px;
    padding-right: 80px;
    margin-top: 10px;
}


.main-card1{

    display: flex;
    flex-direction: row;
    padding: 50px;
    margin: 20px;
    margin-top: -40px;
}

.main-card2{

    display: flex;
    flex-direction: row;
    padding: 50px;
    margin: 20px;
    margin-top: 0px;
    
}

h1 {
    text-align: center;
    letter-spacing: 0.5px;
    color:black;
    margin-top: 50px;
}


.card1{
    position:relative;
    margin: 0px;
    width: 300px;
    height:200px;
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    text-align: center;
    background: linear-gradient(0deg, #8AAAE5,)
}

.card2{
    position:relative;
    margin: 0px;
    width: 300px;
    height:200px;
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    text-align: center;
    background: linear-gradient(0deg, #8AAAE5, )
}

.glow::after{
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg,
    #ff0000 0%,
    #ff9a00 10%,
    #d0de21 20%,
    #4fdc4a 30%,
    #3fdad8 40%,
    #2fc9e2 50%,
    #1c7fee 60%,
    #5f15f2 70%,
    #ba0cf8 80%,
    #fb07d9 90%,
    #ff0000 100%) 
    repeat 0% 0%/ 300% 100%;
    background-size: 400%;
    width: calc(100% +800px);
    height: calc(100%+800px); 
    border-radius: 20px;
    inset: -3px;
    z-index: -2;
    animation: glow 6s linear infinite;
}
@keyframes glow{

    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
